.about-container{
   width:80%;
   height:400px;
   margin:0px auto;
   border-left:8px solid #222733;
   border-right:10px solid transparent;
   border-top:8px solid #222733;
   border-bottom:10px solid transparent;
}

.aDonkey{
   position:relative;
   top:40px;
   left:40px
}


@media (max-width:768px){
   .aDonkey{
      position:absolute;
      top:10px;
      left:10px
   }
}

