.about-container{
   width:80%;
   height:500px;
   margin:0px auto;
   border-left:10px solid #222733;
   border-right:10px solid transparent;
   border-top:10px solid #222733;
   border-bottom:10px solid transparent;
   display:flex;
   justify-content: space-between;
}
.description {
   width:50%;
   padding:3rem
  
}