.twitter{
   color:#1DA1F2; 
   animation:swing 2s infinite ease-in-out 
}
.linkedin{ animation:jump 2s infinite }
.github{ animation:rotation 4s infinite linear }
.twitter:hover,
.linkedin:hover,
.github:hover{ 
   animation-play-state: paused; 
   cursor:pointer 
}
.contact-btn{
   transition: all 0.8s ease 0s;
  
}
.contact-btn:hover{ 
   background:#2E3346; 
   color:#2BB687;
   text-decoration: none;

}

/************ Animation Icons **************/

@keyframes swing{
   50%{ transform:rotate(15deg) translateY(-15%) }
}
@keyframes rotation{
   from { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}
@keyframes jump{
   0% { transform: translate(0%, 0%) scale(1, 0.75); }
   50% { transform: translate(0%, -20%) scale(1, 1.25); }
   100% { transform: translate(0%, 0%) scale(1, 0.75); }
}


