main{
   background-color:#222733;
   background:linear-gradient(#222733,#1D5066);
   height:calc(100vh - 10vh)
}
.container-home{
   width:80%;
   height:70vh;
   border-left:10px solid transparent;
   border-right:10px solid white;
   border-top:10px solid transparent;
   border-bottom:10px solid white
}
.content-home{
   width:70%;
}
.info{
   position:absolute;
   bottom:15%;
   left:10%
}
.aBulldog{ 
   width:100px;
   position:relative;
   top:-60px;
   left:-80px;
 }

.titleOne{ animation: fadein 3s }

@keyframes fadein{
   from { opacity:0 }
   to { opacity:1 }
}

.titleTwo{ animation:fadein01 6s }

@keyframes fadein01{
   from { opacity:0 }
   to { opacity: 1}
}

.titleThree{ animation:fadein02 9s }

@keyframes fadein02{
   from { opacity: 0 }
   to { opacity: 1}
}

