nav{ 
   background:#2E3346;
   font-family: 'Josefin sans';
   font-weight:bold
 }
.active{ 
   color:#1fd88e;

 }
nav a:hover{
   border-bottom:1px solid #1fd88e;
   margin-bottom:-1px
}



@media (max-width:768px){
   .mobile > a{
      display:block;
      
   }
   nav{ border-bottom:1px solid white }
   nav a:hover{ border-bottom: none }
}