.project-description img{
   border:10px solid pink;
   width:50%
}
.project-description_p{
   border:10px solid orange;
   width:50%
}

@media (max-width:768px){
   .project-description{
      box-shadow: 1px 1px 1px black;
   }
}
