.project-description_p{
   border:10px solid orange;
   height:200px;
   width:40%;
}
.project-img img{
   height:300px
}

@media (max-width:768px){
   .project-description{
      box-shadow: 1px 1px 1px black;
   }
}
