.container-skills{
   width:90%;
   height:100vh;
   margin:0px auto;
   border-left:10px solid #222733;
   border-right:10px solid  #222733;
   border-top:10px solid transparent;
   border-bottom:10px solid transparent;
}
.fa-html5{ color:#dd4b25 }
.fa-css3-alt{ color: #4DE4 }
.fa-js-square{ color: #F7DF1E }
.fa-react{ color: #61DAFB; animation:rotating 5s linear infinite}
.fa-vuejs{ color: #2E805B; transform:rotate(45deg)}
.fa-bootstrap{ color:#7952B3 }
.fa-git{ color:#E84D31 }
.fa-sass{ color:#CE679A }

@keyframes rotating {
   from {
     -ms-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   to {
     -ms-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
.skills-section{
   position:relative;
   z-index:999;
   background:lightcyan
}

.text-skill{
   animation-name:fadeIn;
   animation-duration:2s
}
@keyframes fadeIn{
   from { opacity:0 }
   to { opacity:1 }
}

.other-skills{
   position:relative;
   left:-550px;
   z-index:-999;
   animation-name: moveRight;
   animation-duration:2s;
   animation-fill-mode: forwards;
}

@keyframes moveRight{
   0%  { left:-550px}
   100% { left: 0px }
}

.test-div{
   animation:showMe 8s;
}

@keyframes showMe{
   from{ opacity: 0 }
   to { opacity: 1 }
}


