.container-skills{
   width:90%;
   height:60vh;
   margin:0px auto;
   border-left:10px solid #222733;
   border-right:10px solid  #222733;
   border-top:10px solid transparent;
   border-bottom:10px solid transparent;
}

/****************** Animation Icons ******************/

.move-left{
   position:relative;
   animation:left 2s;
   animation-fill-mode: forwards

}
.move-right{
   position:relative;
   animation:right 2s;
   animation-fill-mode: forwards
}
.fadein{ animation:fade-in ease 6s }

@keyframes left{
   0% {left:-500px }
   100%{ left: 100px }
}
@keyframes right{
   0% {right:-500px}
   100%{right:100px}
}
@keyframes fade-in{
   0% { opacity:0 }
   100% { opacity: 1;}
}

