*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color:white;
  text-decoration: none;
  font-size:1rem
}

h2,
h3{ color:#1fd88e }
h1,h2{ font-family:'Josefin sans' }
p,
li{ font-family: 'Yeseva One', cursive }

button{ border: 1px solid #26B97B }

