*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  color:white;
  text-decoration: none;
  font-size:1rem
}
h2
{
  color:#1fd88e;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{ border: 1px solid #26B97B }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2{
  font-family:'Josefin sans'
}

p{
  font-family: 'Yeseva One', cursive;
}
